* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1, h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold; }

.container {
  width: 1300px;
  margin: 0 auto; }

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .navbar-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
